/* Root */
:root{

  /* Dominant colors */
  --primary-bg: #FEE1B9; /* var(--primary-bg) */
  --secondary-bg: #A32C26; /* var(--secondary-bg) */
  --ember: #4F2622; /* var(--ember) */
  --text: #1C090D; /* var(--text) */

  /* Miscellaneous */

  --main-family: 'Monotype Corsiva', 'Apple Chancery', sans-serif;
  --info-wrapper: #9F8141; /* var(--info-wrapper) | Displayed header when scroll down a thread */
  --social: #ECD592; /* Bookmark/Share/Track buttons on a thread bottom */
  --social-btn: #7C7D5E; /* var(--social-btn) | default color of like/share/etc icons on a post */
  --like: red; /* Customize the "heart" (like-button) color */
  --flag: #ECD592; /* The "redflag" button to report inapropriate posts */
  --unread: #00000033; /* Define the background color of unread topics cells (in the user stream) */
  --highlight: #DFA700; /* var(--highlight) | hilighted search result */
  --biography: #FFFFFF4D; /* var(--biography) | unexpanded biography div background */
  --foot-links: #e6db74; /* var(--foot-links) | links color in the footer */
  --quote-ctrl: green; /* var(--quote-ctrl) | color of the "expend/collapse" and "go-to" buttons on a quoted message */

}


/* dominant bg color */
html {
  background-color: var(--primary-bg);
}
 

/* Snow fall effect */
#main{
  background: none;
  background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'),
                    url('http://www.wearewebstars.dk/codepen/img//s2.png'),
                    url('http://www.wearewebstars.dk/codepen/img//s3.png');
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index:1;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}

/* Reverse the logos color */
.logo-big, .social_links {
  filter: invert(100%);
}
 
.category-list tbody .category h3 a[href],
.btn[href]{
  color: inherit;
}
 
/* Highlight color for search results */
.highlight-strong {
    background-color: var(--highlight);
}
 
/* No flash animation on new topics */
.topic-list-item.highlighted {
    animation: none !important;
}


/* Polls */
div.poll li[data-poll-option-id] {
  color: var(--text);
}
 
/* ------------- User menus ---------------  */
 
.user-stream .ember-view,
.user-stream .item,
.user-stream .user-stream-item {
  background-color: var(--primary-bg);
}
 
.user-stream .edit-reason {
  background-color: inherit;
}
 
.large-notification a span {
  color: var(--ember);
}
 
.user-stream .excerpt {
  color: var(--text);
}
 
.user-main .d-icon-heart {
  color: var(--like, red) !important;
}
 
.stats-section .label {
  color: var(--ember);
}

.user-stream .child-actions .fa,
.user-stream-item-actions .fa {
  color: inherit;
}
 
.user-menu .notifications .read {
  background-color: var(--primary-bg);
}
 
.user-menu .notifications li span{
  color: var(--ember);
}
 
.user-stream {
  background-color: var(--primary-bg);
}
 
.user-stream .notification.unread {
  background-color: var(--unread, none);
}
 
.user-navigation .nav-stacked a.active,
.user-preferences .static {
  color: var(--ember);
}
 
.user-content {
  background-color: inherit;
}
 
.user-main .about.collapsed-info .details {
  background-color: var(--biography);
  border-bottom: transparent;
}
 
.user-main .about .details {
  background-color: transparent;
}
 
.user-main .about .secondary {
  background-color: var(--secondary-bg);
  border-top: transparent;
  border-bottom: transparent;
}
 
.user-main .about .secondary dd{
  color: var(--text);
}

.badge-card .badge-contents {
  box-shadow: 5px 5px 5px red;
}
 
.avatar-wrapper {
  background-color: transparent;
}
 
/* Biography editor preview. By default takes the style of the next selector. Add your own between {} to edit it. */
 
.user-preferences .bio-composer .d-editor-preview,
.edit-category-tab-topic-template .d-editor-preview
 
 
/* --------------- Top right corner menus --------------- */
 
 div.menu-links-header .fa, div.menu-links-header a {
  color: var(--text);
 }
 
.list-controls .category-breadcrumb li.bullet>.dropdown-header {
  background-color: var(--secondary-bg);
  color: var(--primary-bg);
}
 
.list-controls .category-dropdown-menu{
  background-color: var(--secondary-bg);
}
 
/* foot lists */
nav.foot ul.footer_nav ul li a {
  color: var(--foot-links);
}

.utility .copyright,
nav.foot ul.footer_nav h3 {
  color: var(--text);
}
 
nav.foot ul.footer_nav ul li a:hover  {
  color: var(--text);
}
 
 
/* main textual colors */
html p,
#topic-title h1 a,
.cooked {
  color: var(--text);
}

.badge-wrapper.bullet span.badge-category,
.extra-info-wrapper .badge-wrapper.bullet span.badge-category,.extra-info-wrapper .topic-link {
  color: var(--info-wrapper);
}

p, .user-stream .excerpt {
  font-family: var(--main-family);
  font-size: 17.5px
}
 
p>code, li>code, pre>code {
  color: black;
  background: white;
}
 
.topic-body, hr {
  border-top: 1px solid var(--secondary-bg);
}
 
 
/* ------ Header and Footer ------ */
 
.d-header,
.alert.alert-info,
footer {
  background-color: var(--secondary-bg);
}
 
 
.topic-list .topic-excerpt {
  color: var(--text);
}


.badge-notification.new-topic {
  color: var(--secondary-bg);
}

.badge-notification, .badge-notification.new-posts {
  background-color: var(--secondary-bg);
}
 
.nav-pills>li>a {
  color: var(--text);
}
 
 /* Color for most of the important text */

.topic-list-icons .d-icon-thumb-tack,
.latest-topic-list .d-icon-thumb-tack,
.topic-list .d-icon-thumb-tack,
.names span a,
nav.post-controls button.create,
.suggested-topics-message{
    color: var(--ember);
}
 

.alert.alert-info.clickable,
#list-area .show-more.has-topics .ember-view{
  color: var(--primary-bg);
}

.topic-list-main-link a.title,
.topic-list .main-link a.title,
.latest-topic-list-item .main-link a.title {
    color: var(--ember);
}
  
.topic-list .sortable:hover {
  background-color: var(--secondary-bg);
}

.topic-list-item:hover {
  background-color: #a42c26B3; /* Hover effect on topics */
}
 
.topic-list .topic-list-item-separator td span {
  color: red;
  background-color: var(--secondary-bg);
}
 
.ember-view{
  color: var(--ember);
}
 
 
/* Text edition */
 
.d-editor-textarea-wrapper{
  background-color: var(--primary-bg);
}
 
.d-editor-textarea-wrapper>.ember-view { /* Color of the text when replying/creating a topic | Keep it light on a dark background */
  color: #1B0B0C;
}
 
.topic-list-bottom {
  background-color: transparent;
}
 
.topic-footer-main-buttons>.flag-topic {
  color: var(--flag);
}
 
.topic-footer-main-buttons>button:hover {
  background-color: var(--secondary-bg);
}
 
.btn,
.topic-footer-main-buttons>.bookmark,
.share,
.flag-topic {
  background-color: var(--secondary-bg);
  color: var(--social);
}
 
.modal-footer>.btn,
.topic-footer-main-buttons>.bookmark,
.share,
.flag-topic,
.d-icon.d-icon-d-tracking, .d-icon.d-icon-d-watching{
  background-color: var(--secondary-bg);
  color: var(--social);
}
 
.composer-popup {
  background-color: var(--primary-bg);
}
 
.composer-popup a.close {
  color: red;
}
 
.d-editor-preview {
  background-color: var(--primary-bg);
}
 
 
/* Button editions */
 
nav.post-controls a,
nav.post-controls button {
  color: var(--social-btn);
}
 
nav.post-controls button.has-like:hover {
  cursor: pointer;
}
 
nav.post-controls button.has-like {
  color: var(--like);
}
 
 
/* Quotation edition */
 
span.highlighted {
  background-color: inherit;
}
 
blockquote,
aside.quote>.title {
  border-left: var(--secondary-bg);
  background-color: var(--secondary-bg);
}
 
aside.quote>.title {
  border-bottom: 1px solid grey;
}
 
.quote-controls,
.quote-controls .d-icon {
  color: var(--quote-ctrl);
}
 
 
/* Top right menus background overall */
 
.menu-panel {
  background-color: var(--primary-bg);
  border: 1px solid grey;
}
 
/* table header */
thead {
  background-color: var(--secondary-bg);
}

.topic-list th {
  color: var(--primary-bg);
}
 


#reply-control,
#reply-control.draft,
#reply-control.saving {
  background-color: var(--secondary-bg);
}
 
 
/* Rotating logo in the footer */
 
@-webkit-keyframes rotating  {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.footer_logo {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
} 
